{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block navigation %}
              <h1 style="padding:3%"> </h1>
       {% endblock %}

{% block content %}

<section class="vh-100" style="margin-left:5%; margin-right:15%; margin-top:8%">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
   <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Se connecter</button>
</form> </div>
    </div>
  </div>

</section>
{% endblock %}