
{% extends 'base.html' %}

      {% block navigation %}

{% if user.is_authenticated and user.username != "admin" %}
                <li><a class="icon-home " href="#accueil">Voir ressources</a></li>
                <li><a class="icon-group"  href="{% url 'reservation' %}">Réservation</a></li>
                <li><a class="icon-envelope-alt " href="{% url 'contactAdmin' %}">Contacter admin</a></li>
{% endif %}
{% if user.is_authenticated and user.username == "admin" %}
                <li><a class="icon-home " href="#accueil">Voir ressources</a></li>
                <li><a class="icon-group"  href="{% url 'reservation' %}">Réservation</a></li>
                <li><a class="icon-leaf " href="#services">Utilisateurs</a></li>
                <li><a class="icon-envelope-alt " href="#contact">Contacter admin</a></li>
{% else %}
{% endif %}
{% endblock %}

        {% block content %}<div >

    </div>
        <div class="create-reservation" style="margin:50px"></div>
        <div style="display:inline-block">
        <a class="btn btn btn-danger" href="{% url 'home' %}" style="margin:10px">Retour</a>
        <a class="btn btn-success " href="{% url 'create_reservation' %}">Faire reservation</a>
        </div>
         <table class="table table-bordered mx-auto" >
        <thead>
        <tr>
        <th>Type ressource</th>
        <th>Ressource</th>
        <th>Réserveé par</th>
        <th>Date </th>
        <th>Motif</th>
        <th>Action(s)</th>
        </tr>
        </thead>
        <tbody id="myTable">

        {% for reservation in datas %}
        <tr>
        <td>{{ reservation.ressource.typeRess }}</td>
        <td>{{ reservation.ressource }}</td>
        <td>{{ reservation.reservateur }}</td>
        <td>{{ reservation.date_de_reservation }}</td>
        <td>{{ reservation.motif_de_reservation }}</td>
        <td>
        <div style="display:inline-block">
        <a class="btn btn-primary" href="{% url 'update_reservation' reservation.id %}">Modifier</a>
        <a  class="btn btn-danger" href="{% url 'delete_reservation' reservation.id %}">Supprimer</a>
        </div>
        </div>
        </td>

        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% if datas|length < 1 %}
        <h4 class="text-center" style="margin-top:10%">Aucune réservation </h4>
        {% endif %}
        {% endblock %}
