
{% extends 'base.html' %}

        {% block navigation %}
                <li><a class="icon-home " href="#accueil">Voir ressources</a></li>
                <li><a class="icon-group "  href="{% url 'reservation' %}">Réservation</a></li>
                <li><a class="icon-leaf p-3 mb-2 bg-dark text-white" href="{% url 'user' %}">Utilisateurs</a></li>
                <li><a class="icon-envelope-alt " href="{% url 'contactAdmin' %}">Contacter admin</a></li>
       {% endblock %}

        {% block content %}<div >

    </div>
        <div class="create-reservation" style="margin:50px"></div>
        <div style="display:inline-block">
        <a class="btn btn btn-danger" href="{% url 'accueil' %}" style="margin:10px">Retour</a>
        <a class="btn btn-success " href="{% url 'create_user' %}">Faire reservation</a>
        </div>
         <table class="table table-bordered mx-auto" >
        <thead>
        <tr>
            <th>Code</th>
        <th>Nom</th>
        <th>Prenom</th>
            <th>Type</th>
            <th>Role</th>
        <th>Action(s)</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for user in datas %}
        <tr>
            <td>{{user.codePerso}}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.typePerso }}</td>
        <td>
        <form action="#" method="Post">
        <a class="btn btn-primary" href="#">Modifier</a>
        <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
        </td>

        </tr>
        {% endfor %}
        </tbody>
        </table>

        {% if datas|length < 1 %}
        <h4 class="text-center" style="margin-top:10%">Aucune réservation </h4>
        {% endif %}
        {% endblock %}