{% extends '../base1.html' %}
 {% block navigation %}

{% if user.is_authenticated and user.username != "admin" %}
 <div style="display:inline-block;font-size:15px;position:relative; right:150px; top:20px"><a class="p-3 mb-2 bg-danger text-white"  href="{% url 'logout' %}">Se deconnecter</a>
       <p class="text-white">Compte : {{ user.username }}</p></div>
                <li><a class="icon-home " href="#accueil">Voir ressources</a></li>
                <li><a class="icon-group"  href="{% url 'reservation' %}">Réservation</a></li>
               <li><a class="icon-envelope-alt " href="{% url 'contactAdmin' %}">Contacter admin</a></li>
{% endif %}
{% if user.is_authenticated and user.username == "admin" %}
 <div class="bg" style="display:inline-block;font-size:15px;position:relative; right:150px; top:20px"><a class="p-3 mb-2 bg-danger text-white "  href="{% url 'logout' %}">Se deconnecter</a>
       <p class="text-white">Compte : {{ user.username }}</p></div>
                <li><a class="icon-home " href="#accueil">Voir ressources</a></li>
                <li><a class="icon-group"  href="{% url 'reservation' %}">Réservation</a></li>
                <li><a class="icon-leaf " href="{% url 'user' %}">Utilisateurs</a></li>
                 <li><a class="icon-envelope-alt " href="{% url 'contactAdmin' %}">Contacter admin</a></li>
{% else %}
<h1 style="padding:3%"> </h1>
{% endif %}
        {% endblock %}



{% block content %}

{% if user.is_authenticated  %}
<div style="background-image: url()">
<div style="margin:20px; display:inline-block" >

    </div>
    </div>
{% else %}
<div style="margin-top:10%">
  <p class=" d-flex justify-content-center">Vous n'êtes pas connecté</p>
  <div class=" d-flex justify-content-center"><a class="btn btn-primary btn-lg" href="{% url 'login' %}">Connexion</a></div>
</div>
<div>
    <img src="https://images.app.goo.gl/9Nwts3dEqfGco4U36" class="img-fluid" alt="Responsive image">
</div>
    {% endif %}

{% endblock %}