{% extends 'base.html' %}
   {% block navigation %}

{% if user.is_authenticated and user.username != "admin" %}
                <li><a class="icon-home " href="#accueil">Voir ressources</a></li>
                <li><a class="icon-group "  href="{% url 'reservation' %}">Réservation</a></li>
                <li><a class="icon-envelope-alt p-3 mb-2 bg-dark text-white" href="{% url 'contactAdmin' %}">Contacter admin</a></li>
{% endif %}
{% if user.is_authenticated and user.username == "admin" %}
                <li><a class="icon-home " href="#accueil">Voir ressources</a></li>
                <li><a class="icon-group "  href="{% url 'reservation' %}">Réservation</a></li>
                <li><a class="icon-leaf " href="{% url 'user' %}">Utilisateurs</a></li>
                <li><a class="icon-envelope-alt p-3 mb-2 bg-dark text-white" href="{% url 'contactAdmin' %}">Contacter admin</a></li>
{% else %}
{% endif %}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="mx-auto my-4 text-center">
    <h3>Envoyez un mail à l'administrateur</h3>
</div>
<div class="container">
    <form action="" method="post" style="margin-left:22%; margin-right:22%">
        {% csrf_token %}
        {{ form | crispy }}
    <button class="btn btn-success my-3" type="submit">Envoyer</button>
    </form>
</div>
{% endblock %}