
{% extends 'base.html' %}
 {% block navigation %}
              <h1 style="padding:3%"> </h1>
       {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
 <h3 class="text-center" style="margin-top:20px">Création d'une réservation</h3>
<form action="" method="post" style="margin-left:20%; margin-right:20%">


  {% csrf_token %}
  {{ form|crispy }}
      <div style="display:inline-block">
 <a href="{% url 'reservation' %}" class="btn btn btn-danger" style="margin:10px">Annuler</a>
  <button type="submit" class="btn btn-success">Valider</button>
          </div>
</form>
</div>
{% endblock %}