{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="">
        <div class="">
            <div class="">
                            <h1>Voulez vous vraiment supprimer l'element ?</h1>
                            <form action="" method="POST">
                            {% csrf_token %}
                            <a class="btn btn-warning" href="{% url 'showRessource' %}">Anuler</a>
                            <input class="btn btn-danger" type="submit" name="Delete">
                            </form>
            </div>
        </div>
    </div>
    {% endblock %}