{% extends 'base.html' %}
 {% block navigation %}
              <h1 style="padding:3%"> </h1>
       {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <br>
    <div class="">
        <div class="">
            <div class="">
                            <h1>Voulez vous vraiment supprimer ?</h1>
                            <form action="" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="Supprimer">

                                <a class="btn btn-success " href="{% url 'showRessource' %}">annuler</a>
                            </form>
            </div>
        </div>
    </div>
    {% endblock %}