
{% extends 'base.html' %}

      {% block navigation %}

{% if user.is_authenticated and user.username != "admin" %}
 <div style="display:inline-block;font-size:15px;position:relative; right:150px; top:20px"><a class="p-3 mb-2 bg-danger text-white"  href="{% url 'logout' %}">Se deconnecter</a>
       <p class="text-white">Compte : {{ user.username }}</p></div>
                <li><a class="icon-home " href="{% url 'showRessource' %}">Ressources</a></li>
                <li><a class="icon-group p-3 mb-2 bg-dark text-white"  href="{% url 'reservation' %}">Réservation</a></li>
                <li><a class="icon-envelope-alt " href="{% url 'contactAdmin' %}">Contacter admin</a></li>
{% endif %}
{% if user.is_authenticated and user.username == "admin" %}
 <div style="display:inline-block;font-size:15px;position:relative; right:150px; top:20px"><a class="p-3 mb-2 bg-danger text-white"  href="{% url 'logout' %}">Se deconnecter</a>
       <p class="text-white">Compte : {{ user.username }}</p></div>
                <li><a class="icon-home " href="{% url 'showRessource' %}">Ressources</a></li>
                <li><a class="icon-group p-3 mb-2 bg-dark text-white"  href="{% url 'reservation' %}">Réservation</a></li>
                <li><a class="icon-leaf " href="{% url 'user' %}">Reservateur</a></li>
                <li><a class="icon-envelope-alt " href="{% url 'contactAdmin' %}">Contacter admin</a></li>
{% else %}
{% endif %}
{% endblock %}

        {% block content %}<div >

    </div>
        <div class="create-reservation" style="margin:50px"></div>
        <div style="display:inline-block">
        <a class="btn btn-success " style="margin:10px" href="{% url 'create_reservation' %}">Ajouter reservation</a>
        </div>
         <table class="table table-bordered mx-auto" >
        <thead>
        <tr>
        <th>Type ressource</th>
        <th>Ressource</th>
        <th>Réserveé par</th>
        <th>Date </th>
        <th>Motif</th>
            {% if user.is_authenticated and user.username == "admin" %}
        <th>Action(s)</th>
              {% else %}
              <th>Action(s)(Compte admin uniquement)</th>
            {% endif %}

        </tr>
        </thead>
        <tbody id="myTable">

        {% for reservation in datas %}
        <tr>
        <td>{{ reservation.ressource.typeRess }}</td>
        <td>{{ reservation.ressource }}</td>
        <td>{{ reservation.reservateur }}</td>
        <td>{{ reservation.date_de_reservation }}</td>
        <td>{{ reservation.motif_de_reservation }}</td>
        <td>

        {% if user.is_authenticated and user.username == "admin" %}
        <div style="display:inline-block">
        <a class="btn btn-primary" href="{% url 'update_reservation' reservation.id %}">Modifier</a>
        <a  class="btn btn-danger" href="{% url 'delete_reservation' reservation.id %}">Supprimer</a>
        </div>
            {% else %}
              <div style="display:inline-block">
        <a class="btn btn-primary" href="{% url 'update_reservation' reservation.id %}">Modifier </a>
        <a  class="btn btn-secondary  disabled" href="{% url 'delete_reservation' reservation.id %}">Supprimer</a>
        </div>
{% endif %}

        </div>
        </td>

        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% if datas|length < 1 %}
        <h4 class="text-center" style="margin-top:10%">Aucune réservation </h4>
        {% endif %}
        {% endblock %}
